body
{
    text-align: center;
    align-items: center;
    background-color: #132030;
    color: #ccdbec;
}

button
{
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    background-color: #6495ed;
}

button:focus
{
    background-color: #000080;
}

#container
{
    width: 700px;
    max-width: 700px;
    border: 2px solid;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: visible;
    position: relative;
}

#resources
{
    border: 2px solid;
    width: 200px;
    max-width: 200px;
    text-align: right;
    padding: 10px;
    margin: 0 auto;
    margin-right: 700px;
    position: absolute;
    right: 0;
    top: 10px;
}

#resources ul
{
    list-style: none;
}

#resources li
{
    padding: 1px 0px;
}

.UserCanDo
{
    display: inline-block;
    width: 1em;
    background-color: #6495ed;
}

.userDoing
{
    background-color: #000080;
}

#buildings
{
    border: 2px solid;
    width: 200px;
    max-width: 200px;
    text-align: left;
    margin: 0 auto;
    position: absolute;
    margin-left: 700px;
    top: 10px;
}

#buildingQueue
{
    border-bottom: 2px solid;
}

#buildings ul
{
    list-style: none;
    padding: 0px;
}