body
{
    text-align: center;
    align-items: center;
    background-color: #132030;
    color: #ccdbec;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

button
{
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    background-color: #6495ed;
}

a
{
    color: red;
}

#container
{
    width: 700px;
    max-width: 700px;
    border: 2px solid;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: visible;
    position: relative;
}

#resources
{
    border: 2px solid;
    width: 200px;
    max-width: 200px;
    text-align: right;
    padding: 10px;
    margin: 0 auto;
    margin-right: 700px;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 12px;
}

#resources ul
{
    list-style: none;
    padding: 0px;
}

#resources li
{
    padding: 1px 0px;
}

.resourceSquare
{
    border: 2px solid;
    margin: 3px;
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
}

.resourceSquare .tooltip
{
    visibility: hidden;
    z-index: 1;
    position: absolute;
    border: 2px solid;
    background: black;
    left: 50px;
    width: 200px;
}

.resourceSquare:hover .tooltip
{
    visibility: visible;
    position: relative;
}

.resourceSquare .amount
{
    position: absolute;
    bottom: 0;
    right: 0;
}

.resourceSquare .perSecond
{
    position: absolute;
    top: 0;
    left: 0;
}

.resourceSquare .positive
{
    color: greenyellow;
}

.resourceSquare .negative
{
    color: red;
}

.resourceSquare .resourcePicture
{
    width: 100%;
    height: 100%;
}

.userCanDo
{
    border-color: #6495ed;
}

.userCantDo
{
    border-color: gray;
}

.userDoing
{
    border-color: greenyellow;
}

#buildings
{
    border: 2px solid;
    width: 200px;
    max-width: 200px;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    margin-left: 700px;
    top: 10px;
    font-size: 12px;
}

#buildingQueue
{
    border-top: 2px solid;
    padding-top: 5px;
}

#buildings ul
{
    list-style: none;
    padding: 0px;
}

#buildings li 
{
    padding: 1px 0px;
}

.buyBuilding
{
    display: inline-block;
    background-color: #6495ed;
    width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
    padding: 0px;
    text-align: center;
}

.building .tooltip
{
    visibility: hidden;
    z-index: 1;
    position: absolute;
}

.building:hover .tooltip
{
    visibility: visible;
    position: relative;
}

#saveButton
{
    float: left;
    margin: 15px;
}